body{
  background-image: url('');
}
a:hover{
  text-decoration: none;
}
a{
  color: #000;
}
@media(min-width: 768px){
  .col-5{
    width: 20%;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}


.img-right{
  text-align: right;
  padding: 1rem;
}

.ico_web{
  display: flex;
  align-items: center;
}

.header{
  background: gray;
  padding-bottom: 50px;
}

.img-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-header-second{
  background: #000;
  padding: .5rem;
}

.link-header-second a{
  color: #fff;
  padding: .5rem;
}
.btn-1{
  background:#DA1181FF ;
  border: 2px solid #fff;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  color: #fff;
  margin: 5%;
  font-size: 22px;
}

.cont-1 img{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.div-cont-2{
  padding:1rem;
  margin-bottom: 2rem;
}

.cont-2 .ref-cont-2-div{
  display: flex;
  flex-direction: row;
}

.ref-cont-2{
  font-weight: bold;
  display: block;
  padding-top: 1rem;
  line-height: 30px;
  font-weight: normal;
  margin-left: 40px;
  font-size: 24px;
  
} 

.btn-cont-2{
  background: #DA1181FF;
  border: 2px solid #fff;
  border-radius: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 1px 1px 16px blue;
  color: #fff;
  font-size: 22px;
}

.list-round-1{
  padding-right: 2rem;
}

.list-valid{
  float: right;
}

.li-1{
  background:#DAFFFFFF;
  margin-bottom: .2rem;
  padding-top: .5rem;
  padding-bottom:0rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.cont-3 h2{
  margin: 2.5rem;
}

.cont-agenda-ref{
  display: flex;
  margin-top: 3rem;
}
.cont-3 > div > .col-md-6{
  display: flex;
}
.cont-3 > div > .col-md-6 img{
  padding-top: 2rem;
}
.agenda{
  border: 2px solid #000;
  padding: 0;
}

.agenda-tmps{
  background: #000;
  color: #fff;
  padding: 2rem;
}

.agenda-descript{
  padding-top: 1.5rem;
  padding-bottom: 6rem;
}
.agenda-descript-expt{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.agenda-descript-expt ~ div{
  height: 50%;
}
.agenda-descript-expt ~ div img{
  height: 100%;
  padding: 0;
  margin: 0;
}
.agenda-price{
  padding: 1rem;
  background: #DA1181FF;
}
.agenda img{
  width: 100%;
}
.plus-info{
  margin-top: 2rem;
}
.export-value ~ div{
  position: relative;
  background: #DA1181FF;
  display: flex;
  justify-content: center;
}

.export-value ~ div div{
  width: 25%;
}

.module-web-value ~ div{
  position: relative;
  background: #DA1181FF;
  display: flex;
  justify-content: center;
  margin-top: 3.1rem;
}

.module-web-value ~ div div{
  width: 50%;
}
.cont-4{
  margin-top: 5rem;
}

.text-1{
   text-align: left;
  line-height: 1;
}

.text-2{
  color: white;
}
.text{
  text-align: left;
  line-height: 2;
}

.copy{
  background-color: black;
}

.contacte-dir{
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5rem solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 35px;
  padding-bottom: .7rem;
}

.module{
  font-size: 30px;
  margin-top: 40px;
  color: #dc198f;
  font-weight: bold;
}

.text-3{
  margin-top: 40px;
  font-weight: bold;
  font-size: 30px;
}

